  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div>
  <jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>

<ul class="list-group-item" *ngFor = "let user of users">
  <a href="#" class="list-group-item"><jce-user [user] = "user"
  (deleteEvent) = "deleteUser($event)"
  (editEvent) = "editUser($event)" 
  >
  </jce-user> </a>

          <li class = "list-group-item" *ngFor = "let title of user.posTitles">
          <b>posts</b>  {{(title | async)?.title}}
          </li>
          
</ul>


