<h1> Invoice !</h1>
<form (ngSubmit) ="onSubmit(f)" #f= "ngForm" > 
  <div class="form-group">
    <label for="name"> product name</label>
    <input type="text"
            class="form-control"
            id="name"
            name="name"
            required
            [(ngModel)]="invoice.name">
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number"
            class="form-control"
            id="amount"
            name="amount"
            value="1000"
            placeholder="1000"
            required
            [(ngModel)]="invoice.amount">      
  </div>
  <button  type="submit" class="btn btn-primary" > add invoice</button>
</form>