<div class="container">
<h1>
  {{title}}
</h1>
<nav>
  <!--<a routerLink="/users" routerLinkActive="active" >Users</a> | 
  <a routerLink="/posts" routerLinkActive="active">Posts</a> |
    <a routerLink="/pagenotfound" routerLinkActive="active">page not found</a> |
    <a routerLink="/products" routerLinkActive="active">products</a> |-->
        <a routerLink="/invoiceform" >invoice Form</a> |
                <a routerLink="/invoices" >invoices</a> |





<!--<button (click)="goCalendar()">add event</button>-->
  <!--<a routerLink="/fire" routerLinkActive="active">Firebase test</a>-->
</nav>

<!-- <jce-users></jce-users> -->
<router-outlet></router-outlet>
<!-- Routed views go here -->

</div>
