
<!--<ul class="list-group-item" *ngFor = "let invoice of invoices">
  <a href="#" class="list-group-item"><app-invoice-form [invoice] = "invoice"

  >
  </app-invoice-form> </a>-->

<div>
  <h3>List of invoices</h3>
  <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group user">
    <li class="list-group-item"  *ngFor = "let invoice of invoices"
[class.active]="onInvoice == invoice"
(click)="select(invoice)" >
     Name: {{invoice.name}} Amount: {{invoice.amount}}
    </li>
  </ul>
</div>