 
 <span *ngIf = "!isEdit">  
<b>name:</b>  {{product.name}}
<b>cost:</b>  {{product.cost}}
<!--<b>categoryId:</b>  {{product.categoryId}}-->

 </span>

<span *ngIf = "isEdit" >
Name: <input type="text" [(ngModel)] = "product.name"> 
cost: <input type="text" [(ngModel)] = "product.cost">
categoryiD: <input type="text" [(ngModel)] = "product.categoryId">

</span>


   <button  (click) = "sendDelete()" >Delete</button> 
   <button  (click) = "updateProduct()" >update</button> 
